@shadow: .3rem .3rem .6rem #c8d0e7, -.2rem -.2rem .5rem #FFFFFF;
.el-menu{
  border: none;
  padding:10px;
}
.el-menu-item{
  transition: all 0.5s ease;
  color:@menuText;
  border-radius: 1rem;
  font-size:18px;
}
.el-menu-item.is-active {
  color: #fff;
  background: linear-gradient(to right bottom,#0133ff,#61a8f1)
}
.el-menu-item:focus, .el-menu-item:hover {
  box-shadow: @shadow;
  z-index:10;
  background:#fff;
  // border-radius: 1rem;
  color:@menuActiveBg;
}